*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: white;
}
/* nav start */
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(10, 10, 6);
    color: white;
    padding: 33px;
    box-shadow:  0px 1px 5px 0px rgb(255, 255, 255);
}
.logo h1{
    font-size: 36px;
    color: orange;
}
.icon i{
    font-size: 22px;
    margin-inline: 8px;
    /* background-color: white; */
    /* color: black; */
    padding: 11px;
    border-radius: 2px;
}
.icon i:hover{
    background-color: orangered;
    cursor: pointer;
}
nav input{
    width: 400px;
    padding: 11px;
    height: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 2px;
}
.input i{
    margin-left: -28px;
    color: black;
    font-size: 20px;
}
/* nav end */

/* main start */
.main{
    display: flex;
    justify-content: space-around;
}
.main img{
    width: 35%;
    margin-top: 40px;
}
.main .text{
    width: 500px;
    margin-top: 50px;
}
.text h1{
    font-size: 66px;
}
p{
    color: aliceblue;
    margin-top: 24px;
}
.text button{

    margin-top: 24px;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    border-radius: 2px;
    font-size: 22px;
    width: 160px;
    height: 40px;


}

/* main end */

/* card start */
.crd{
    display: flex;
    color: black;
    margin-left: 152px;
    justify-content: center;
}
.crd .card{
    width: 300px;
    background-color: white;
    border-radius: 4px;
    padding: 11px;
    color: black;
    margin-inline: 15px;
    margin-top: 84px;
}
.card img{

    width: 100%;
}
.card h2{
    margin-top: 12px;
}
.card p{
    margin-top: 12px;
    color: black;
}

.card button{
    margin-top: 25px;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    border-radius: 2px;
    font-size: 22px;
    width: 140px;
    height: 38px;

}
/* card end */

/* blogs start  */

.blog{
    width: 300px;
    height: 485px;
    background-color: white;
    border-radius: 4px;
    padding: 11px;
    color: black;
    margin-inline: 15px;
    margin-top: 84px;
}

.blog h2{
    margin-top: 12px;
}
.blog p{
    margin-top: 12px;
    color: black;
}
.blog a{
    position: relative;
    top: 32px;
    width: 160px;
    padding: 10px;
    background-color: rgb(255, 170, 11);
    color: white;
    font-size: white;
    font-size: 20px;
    border-radius: 2px;
}
.blog img{
    width: 100%;
}

/* blogs end*/

/* .Customer start */
.review .Customer{
    width: 800px;
    height: 400px;
    background-color: #fff;
    color: black;
    text-align: center;
}
.Customer img{
    width: 21%;
    border-radius: 20%;
}
.Customer p{
color: rgb(0, 0, 0);
}

.review{
    position: relative;
    display: flex;
    overflow: hidden;
    margin: auto;
    width: 800px;
    height: 400px;
    margin-top: 63px;

}

.review .Customer{
    position: absolute;
    background-color: #fff;
    color: black;
    width: 100%;
    height: 70%;
    background-color: #fff;
    text-align: center;
    padding: 11px;
}
.Customer i{
    font-size: 22px;
    color: orange;
    margin-top: 11px;
}

.heads{
    text-align: center;
    font-size: 44px;
    margin-top: 33px;
}
.heads span{
 
    color: rgb(248, 120, 8);
}

.btn{
    text-align: center;
}
.btn button{
    width: 140px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    margin-inline: 11px;
    background-color: rgb(237, 84, 13);
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    color: black;
    padding: 55px;
    margin-top: 77px;
}
.footer .text  p{

color: black;
margin-top: 12px;

}

/* Login */

.login{
    display: none;
    position: absolute;
    margin-left: 83%;
    width: 200px;
    padding: 22px;
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
    margin-top:  6px;
}

.login h2{
    color: black;
}
.login input {
border: none;
border-bottom: 2px solid black;
width: 200px;
font-size: 15px;
padding: 8px;
margin-top: 13px;
}
.login button{
    width: 140px;
    height: 35px;
    border: none;
    outline: none;
    background-color: rgb(245, 116, 29);
    color: white;
    border-radius: 2px;
    font-size: 18px;
    margin-top: 22px;
}

/* Nav */

.nav{
    display: none;
    position: absolute;
    margin-left: 85%;
    width: 162px;
    padding: 22px;
    background-color: #fff;
    border-radius: 4px;
    margin-top:  6px;
}

.nav p{
    width: 130px;
    color: black;
    margin-left: 20%;
    padding: 11px;
    border-radius: 4px;
}

.nav p:hover{
    background-color: white;
    color: orange;

}
